<ul class="posts">
    {% for post in posts %}
    <li class="post" onclick="location.href='{{ url_for('.post', post_id=post.id, _external=True) }}';">
        <div class="post-title"><h2>{{ post.title }}</h2></div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.create_time).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user_index', name=post.author.username) }}">{{ post.author.username }}</a></div>
            <div class="post-body">
                {% if thumbnail %}
                    {{ post.body[:200] }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>

            <div class="post-footer">
                <a href="{{ url_for('.post', post_id=post.id) }}">
                    <span class="label label-default">继续阅读</span>
                </a>
                <a href="{{ url_for('.post', post_id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} 评论</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
